@import "../../assets/scss/_basics/colors.scss";

header {
    padding: 2px 2%;
    background-color: var(--color-green);
    margin-bottom: 20px;
    position: sticky;
    width: 100vw;
    box-shadow: 0 2px 3px #555588;
}

.navbar-header {
    align-content: center !important;
    background-color: var(--color-green) !important;
    
}

.navbar-item {
    align-self: center !important;
    background-color: var(--color-green) !important;
}

.logo {
    width: 170px;
    cursor: pointer;
    background-color: transparent !important;
}

.user-menu {
    cursor: pointer;
}