@import "./../../../assets/scss/_basics/colors.scss";

.container-box {
    height: 100%;
    //width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    padding-left: 15px;
}

.ui-button-text-only .ui-button-text {
    color: var(--color-fg-inv) !important;
}

.inline-block {
    display: inline-block;
    width: 50px;
    margin-right: 0.5em;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid var(--color-fg-0);
    margin: 1em 0;
    padding: 0; 
}

.color-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#333333 !important;
    margin: 5px 3px;
    height: 50px; 
    border: 1 px solid lightgray; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0px 3px #555588;
    transition: all 300ms;
}

.color-selector:hover {
    box-shadow: 0 0px 7px #555588;
}