.basic-info-description-header {
    text-align: center;
    padding: 5px;
    // border-bottom: 1px solid lightgray;
    color: inherit;
    margin-bottom: 5px;
    font-weight: 500 !important;
    font-size: 1.1rem;
}

.basic-info-description-header-text {
    // color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}

a {
    // color: inherit !important;
    text-decoration: none;
    font-size: inherit !important;
    font-weight: inherit !important;
}
