<div class="container-fluid principal">
  <h2 class="anchor-padrao">
    Configurações
  </h2>
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <p class="anchor-padrao">Imagem principal</p>
          <input
          formControlName="imagemUsuario"
          type="file"
          accept="image/*"
          (change)="handleFileInput($event.target.files[0])"
        >
        </div>
        <div *ngIf="preview">
          <div class="text-center">
            <img class="img-thumbnail" [src]="preview">
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3">
            <p class="anchor-padrao">Informações de conta</p>
          </div>
          <div class="col-sm-5">
            <div class="form-group row">
              <label for="nome" class="col-sm-2 col-form-label">Nome</label>
              <div class="col-sm-10">
                <input placeholder="nome" formControlName="nome" type="text" class="form-control" id="nome">
                <div *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)" class="alert alert-danger">

                  <div *ngIf="nome.errors.required">
                    Nome não pode ficar em branco
                  </div>
                  <div *ngIf="nome.errors.minlength">
                    Deve ter pelo menos 3 char
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="sobrenome" class="col-sm-2 col-form-label">Sobrenome</label>
              <div class="col-sm-10">
                <input placeholder="sobrenome" formControlName="sobrenome" type="text" class="form-control"
                  id="sobrenome">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input placeholder="email" formControlName="email" type="text" class="form-control" id="email" readonly>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="anchor-padrao">Informações da pagina</p>
          </div>
          <div class="col-sm-5">
            <div class="form-group row">
              <label for="url" class="col-sm-2 col-form-label">URL da página</label>
              <div class="col-sm-10">
                <input placeholder="/seuDominio" formControlName="url" type="text" class="form-control"
                  id="url">
                <div *ngIf="url?.invalid && (url?.dirty || url?.touched)" class="alert alert-danger">
                  URL não pode ficar em branco
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="anchor-padrao">Mudar senha</p>
          </div>
          <div class="col-sm-5">
            <div class="form-group row">
              <label for="senhaAntiga" class="col-sm-2 col-form-label">Senha antiga</label>
              <div class="col-sm-10">
                <input formControlName="senhaAntiga" type="password" class="form-control" id="senhaAntiga">

                <div *ngIf="senhaAntiga?.invalid && (senhaNova?.dirty || senhaNova?.touched)" class="alert alert-danger">
                  <div *ngIf="senhaAntiga?.errors?.required">
                    Digite sua senha antiga!
                  </div>
                  <div *ngIf="senhaAntiga?.errors.minlength">
                    Deve ter pelo menos 6 caracteres
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="senhaNova" class="col-sm-2 col-form-label">Nova senha</label>
              <div class="col-sm-10">
                <input formControlName="senhaNova" type="password" class="form-control" id="senhaNova">
                <div *ngIf="senhaNova?.invalid && (senhaNova?.dirty || senhaNova?.touched)" class="alert alert-danger">

                  <div *ngIf="senhaNova?.errors.required">
                    Nome não pode ficar em branco
                  </div>
                  <div *ngIf="senhaNova?.errors.minlength">
                    Deve ter pelo menos 6 caracteres
                  </div>
                  <div *ngIf="senhaNova?.errors.equivalent">
                    Senha  antiga e nova devem ser diferentes
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button class="btn btn-padrao" type="submit" (click)="atualizarDados()" [disabled]="!userForm.valid || !userForm.errors === null">Submit</button>
  </form>
  {{userForm.errors | json}}
</div>
