@import '../../../../assets/scss/_basics/colors.scss';
input {
  padding-left:  30px; 
}

.icon-corrected-position {
  position: absolute;
  font-size: 1.2rem;
  top: 9px;
  left: 5px;
  z-index: 10;
  color: var(--color-fg-1);
}

// Override Bootstrap
.btn-outline-secondary {
  border-color: lightgray;
}

.btn-outline-secondary:hover {
  background-color: var(--color-main);
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
