<div class="aplicativo-main-container" [ngClass]="{'aplicativo-editing': dados.isEdit}" [ngStyle]="customStyle()">

  <div class="aplicativo-header-container">

    <!-- Container do título do componente -->
    <app-aplicativo-header style="transition: all 0.3s" [ngStyle]="{ 'width': dados.isEdit ? '92%' : '100%' }"
      [dados]="dados" (editar)="onClickEditar()" (cancelar)="onClickCancelEditar()" (salvar)="onClickConfirmarEdicao()">
    </app-aplicativo-header>

    <!-- Botão para abrir as configurações do componente -->
    <div *ngIf="dados.isEdit" class="material-icons aplicativo-config-button" (click)="toggleConfigMenu()">
      settings
    </div>

  </div>
  <div class="aplicativo-config-collapse-container" id="githubConfig" *ngIf="dados.isEdit && isConfigMenuOpen">
		<span class="aplicativo-config-label" style="color:inherit !important">Configurações do componente</span>
		<div class="aplicativo-config-container">
			<app-config-menu-comp
				[dados]="dados"
				[hasCheckedApi]="hasCheckedApi"
				(colorChange)="onColorChange($event)"
        (apiSubmit)="onUsernameSubmit($event)"
			>
			</app-config-menu-comp>
		</div>
	</div>

  <!-- Menu de configurações do componente -->
  <!-- <div class="dropdown-menu" aria-labelledby="menuConfiguracoes"
    style="width: 800px; box-shadow: 0px 1px 10px #888888; background-color:var(--color-bg-0)">
    <div class="aplicativo-input-button-container">

      <div class="aplicativo-input-username-container aplicativo-input-config-container dropdown-item"
        *ngIf="hasCheckedApi">
        <app-input-group [label]="'Alterar username do Flickr'" [inputType]="'text'" [inputValue]="dados.username"
          [placeholder]="'Insira seu username do Flickr'" [class]="'primary'" [buttonLabel]="'Buscar dados'"
          [required]="true" [campoObrigatorioMsg]="'O username é obrigatório'" (submit)="onUsernameSubmit($event)">
        </app-input-group>
      </div>

      <div style="margin:auto">
        <button class="btn btn-outline-primary">
          Selecionar imagens
        </button>
      </div>
    </div>
    <div class="dropdown-item color-picker-container">
      <div class="color-picker-label-container">
        <span class="color-pickr-label"> Cor de fundo</span>
        <input class="color-picker" id="picker1" type="color" name="bgColor" value="{{dados.bgColor || '#FFFFFF'}}"
          (input)="onColorChange($event.target)" />
      </div>
      <div class="color-picker-label-container">
        <span class="color-pickr-label"> Cor de destaque</span>
        <input class="color-picker" id="picker2" type="color" name="fgColor" value="{{dados.fgColor || '#444444'}}"
          (input)="onColorChange($event.target)" />
      </div>
    </div>
  </div> -->

  <div class="aplicativo-content-container">

    <div class="flickr-basic-info" *ngIf="hasCheckedApi">
      
      <!-- Container da imagem + user name -->
      <div class="flickr-pic-name">
        
        <!-- Container da imagem -->
        <div class="flickr-avatar-pic">
          <img src="{{dados.avatar_img}}" class="flickr-pic" />
        </div>
        
        <!-- Container do username -->
        <div class="flickr-profile-name">
          <span class="flickr-profile-name-text">{{dados.full_name}} ({{dados.alias}})</span>
        </div>
      </div>
      
      <!-- Container da descrição -->
      <div class="flickr-description">
        <div class="flickr-description-header">
          <span style="color: inherit; font-size: inherit;">Descrição</span>
        </div>
        {{dados.description}}
      </div>
    </div>
    
    <!-- Container das imagens -->
    <div class="flickr-photo-container" *ngIf="hasCheckedApi">
      <app-photo-container [photoArray]="dados.photo_array" [fgColor]="dados.fgColor" style="margin: auto; width: 100%;">
      </app-photo-container>
    </div>
    
    <!-- Mostrar o input para inserção do username -->
    <div class="aplicativo-input-username-container" *ngIf="!hasCheckedApi">
      <app-input-group [label]="'Username do Flickr'" [inputType]="'text'" [placeholder]="'Insira seu username do Flickr'"
      [class]="'primary'" [buttonLabel]="'Buscar dados'" [required]="true"
      [campoObrigatorioMsg]="'O username é obrigatório'" (submit)="onUsernameSubmit($event)">
    </app-input-group>
  </div>
</div>
</div>