<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" style="flex: 1;" (click)="home()" > GREG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse nav-efetiva" style="flex-basis: 0; flex-grow: 0;" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="form-inline my-2 my-lg-0">
      <app-floating-menu [currentUser]="currentUser"></app-floating-menu>
    </div>
  </div>

</nav>
