html {
    --color-green: #56e39f;
    --color-darkblue: #102542;
    --color-lightblue: #c6dbf0;
    --color-white: #fcfaf9;
    --color-purple: #6457a6;
    --color-fg-0: #333333;
    --color-fg-inv: #eeeeee;

    --color-main: #504688;
    --color-main-dark: #403566;
    --color-main-darker: #403343;
    --color-main-darkest: #383142;
    --color-main-ligth:#6156a1;
    --color-main-lighter: #6d61ad;
    --color-danger: #FA5A00;
    --color-bg-0: #F1F1F1;
    --color-bg-1: #FFFFFF;
    --color-fg-0: #444444;
    --color-fog-1: #666666;
    --color-light: #FFFFFF; 
    --color-dark: #282828;

}

html[data-theme="dark"] {
    --color-green: #369165;
    --color-darkblue: #215296;
    --color-lightblue: #292929;
    --color-white: #1f1f1f;
    --color-purple: #352a69;
    --color-fg-0: #eeeeee;
    --color-fg-inv: #282828;
}