html {
    --color-green: #56e39f;
    --color-darkblue: #102542;
    --color-lightblue: #c6dbf0;
    --color-white: #fcfaf9;
    --color-purple: #6457a6;
    --color-fg-0: #333333;
    --color-fg-inv: #eeeeee;

    --color-main: #504688;
    --color-main-dark: #403566;
    --color-main-darker: #403343;
    --color-main-darkest: #383142;
    --color-main-ligth:#6156a1;
    --color-main-lighter: #6d61ad;
    --color-control-bg-0: #bdb7e7;
    --color-success: #28a745;
    --color-success-dark: #1e7a34;
    --color-warning: #ffc107;
    --color-warning-dark: #be951d;
    --color-bg-0: #F1F1F1;
    --color-bg-1: #FFFFFF;
    --color-fg-0: #444444;
    --color-fg-1: #666666;
    --color-light: #FFFFFF; 
    --color-dark: #282828;
    --color-danger: #dc3545;
    --color-danger-dark: #87061c;
    --color-secondary: #6D757D;
    --color-secondary-dark: #5a555c;

}

html[data-theme="dark"] {
    --color-green: #369165;
    --color-darkblue: #215296;
    --color-lightblue: #292929;
    --color-white: #1f1f1f;
    --color-purple: #352a69;
    --color-fg-0: #eeeeee;
    --color-fg-inv: #282828;
}