<div class="container-fluid principal">
  <div class="row erro">
    <div class="col-md-6 esquerda">
      <img src="../../assets/imgs/404.png" alt="404">
    </div>
    <div class="col-md-4 direita align-middle">
      <h2 class="font-weight-bold text-danger" style="text-align: center;">ERRO 404</h2>
      <p class="text-justify text-left">O caminho informado não foi encontrado. Tente outra URL ou volte para a página
        inicial</p>
      <a class="anchor-padrao font-weight-bold text-left">Página Inicial</a>
    </div>
  </div>
</div>