img {
    max-width: fit-content;
    max-height: 40%;
    display:block;
    margin:auto;
}

.principal {
    height: 100vh;
    overflow-y: hidden !important; // hide vertical
    overflow-x: hidden !important; // hide horizontal
}

.erro{
    padding: 75px 0;
    text-align: center;
    
}