<div class="container-main">

    <!-- Titulo exibido na lista de componentes -->
    <div class="container-title">
        <h3 style="text-align: center;">Componentes</h3>
    </div>
    
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="p-grid p-dir-col comp-list">

        <!-- Lista dos componentes que já foram ativados -->
        <div class="p-col componente-box" cdkDrag *ngFor="let comp of componentesSelecionados">
            <!-- Componente não editável - Github -->
            <app-githublite *ngIf="comp.tipo == 'github'"
                [inputName]= comp.user
                [inputTitle]= comp.titulo
                [inputType]='comp.tipo'
                [isEdit]='false'>
            </app-githublite>

            <!-- Componente não editável - Resumo -->
            <app-resumolite *ngIf="comp.tipo == 'resumo'"
                [inputName]= comp.user
                [inputTitle]= comp.titulo
                [inputType]='comp.tipo'
                [isEdit]='false'>
            </app-resumolite>

            <!-- Componente não editável - Flickr -->
            <app-flickrlite *ngIf="comp.tipo == 'flickr'"
                [inputName]=comp.user
                [inputTitle]=comp.titulo
                [inputType]='comp.tipo'
                [isEdit]='false'>
            </app-flickrlite>

            <!-- Componente não editável - Freesound -->
            <app-freesoundlite *ngIf="comp.tipo == 'freesound'"
                [inputName]=comp.user
                [inputTitle]=comp.titulo
                [inputType]='comp.tipo'
                [isEdit]='false'>
           </app-freesoundlite>
        </div>

        <!-- Seletor de componente -->
        <div class="p-col componente-box" *ngIf="!compSelecionado">
            <p-dropdown [options]="comps" [(ngModel)]="compSelecionado" placeholder="Adicione um componente"
                #compSelector (onChange)="selecionarComponente($event.value, compSelector)" [showClear]="true"></p-dropdown>
        </div>
        <!-- Editor de novo componente -->
        <div class="p-col componente-box" *ngIf="compSelecionado">
            <!-- Componente GitHub -->
            <app-githublite (createComponent)="ligaComponente($event)" *ngIf="compSelecionado == 'github'"
                [inputName]=''
                [inputTitle]=''
                [inputType]='compSelecionado'
                [isEdit]='true'>
            </app-githublite>

            <!-- Componete Resumo -->
            <app-resumolite (createComponent)="ligaComponente($event)" *ngIf="compSelecionado == 'resumo'"
                [inputName]=''
                [inputTitle]=''
                [inputType]='compSelecionado'
                [isEdit]='true'>
            </app-resumolite>

            <!-- Componente Flickr -->
            <app-flickrlite (createComponent)="ligaComponente($event)" *ngIf="compSelecionado == 'flickr'"
                [inputName]=''
                [inputTitle]=''
                [inputType]='compSelecionado'
                [isEdit]='true'>
            </app-flickrlite>

            <!-- Componente Freesound -->
            <app-freesoundlite (createComponent)="ligaComponente($event)" *ngIf="compSelecionado == 'freesound'"
                [inputName]=''
                [inputTitle]=''
                [inputType]='compSelecionado'
                [isEdit]='true'>
            </app-freesoundlite>
        </div>
    </div>
</div>

