@import '../../../assets/scss/_basics/colors.scss';

.freesound-basic-info {
  display: flex;
  flex-direction: row;
  width: 420px;
  min-width: 400px;
  height: 254px;
  min-height: 254px;
  margin: 5px;
  flex: 1;
  color: inherit;
}

.freesound-pic-name {
  width: 50%;
  min-width: 185px;
  max-width: 205px;
  height: 100%;
  min-height: 254px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
  color: inherit;
}

.freesound-avatar-pic {
  width: 100%;
  max-width: 205px;
  background-color: var(--color-light);
  box-shadow: 0px 1px 5px #888888;
  border-radius: 6px;
}

.freesound-pic {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.freesound-profile-name {
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  color: inherit;
}

.freesound-profile-name-text {
 margin: auto;
 font-weight: 400 !important;
 font-size: 1.2rem;
 color: inherit;
}

.freesound-description {
  width: 50%;
  min-width: 185px;
  height: 100%;
  min-height: 254px;
  cursor: pointer;  
  padding: 10px;
  text-align: justify;
  flex: 1;
  color: inherit;
}

.freesound-description-header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  color: inherit;
  margin-bottom: 5px;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.freesound-player-container {
  height:100%;
  min-height: 254px;
  max-height: 254px;
  // width: 700px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  flex: 1.5;
  margin: 5px;
  color: inherit;
}

.freesound-player-controls {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: linear-gradient(to right, transparent,  #504688, transparent);
  box-shadow: 0px 0px 15px #504688;
  opacity: 0.8;
}

.freesound-audio-player {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 5px #888888;
}