@import "../../../assets/scss/_basics/colors.scss";

.texto-botão-info-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}

.texto-botao-container {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.texto-info-container {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.texto-button-icon-correction {
    position: relative;
    top: 3px;
}

.texto-grid-container {
    height: auto;
    min-height: 254px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.texto-element-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    min-height: 250px;
    min-width: 250px;
    flex: 1;
    margin: 0 5px 10px;
    background-color: transparent;
}

.texto-title-input {
    width: 100%;
}

.texto-input-error-msg {
    color: inherit;
    font-size: inherit;
}
