
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-menu #menu="matMenu" class="mat-menu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <a (click)="configuracoes()">Configurações</a>
        </button>
        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <a (click)="editarPagina()">Editar página</a>
        </button>
        <button mat-menu-item>
          <mat-icon>directions_run</mat-icon>
          <a (click)="logout()">Logout</a>
        </button>
      </mat-menu>
