<div class="container">
    <div class="p-grid p-dir-col p-justify-center p-align-center">

        <!-- Título do componente -->
        <div class="p-col box">
            <h3 style="text-align: center;">Componente Resumo - Customização</h3>
        </div>

        <!-- Input de nome do compoenente -->
        <div class="p-col box">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-file-o" style="line-height: 0.8;"></i></span>
                <input type="text" pInputText placeholder="Nome do componente" [(ngModel)]="componentName" [readonly]="!edit" (keyup.enter)="emitirEvento()">         
            </div>
        </div>

        <!-- Botão para ligar o componente -->
        <div class="p-col box">
            <button pButton type="button" label="Adicionar" (click)="emitirEvento()" *ngIf="edit"></button>
        </div>
</div>

<!-- Toaster exibido para o caso de ocorrer algum erro -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
