@import "./../../../assets/scss/_basics/colors.scss";

.container-box {
    height: 100%;
    //width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    padding-left: 15px;
}

.ui-button-text-only .ui-button-text {
    color: var(--color-fg-inv) !important;
}

