<div class="container-box" #base>
    <div class="p-grid p-dir-row">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <h3 style="text-align: center;margin-bottom: 10px;">{{title}}</h3>
        </div>
        <div class="p-col-2" style="display: flex; flex-direction: row; justify-content: end;" (click)="openConfig()">
            <i class="pi pi-cog" style="cursor: pointer;"></i>
        </div>
    </div>

    <!-- Mensagem para o caso de ocorrer erro na busca pelos repositórios -->
    <div *ngIf="errorMsg != ''">
        <h3 style="text-align: center;">{{errorMsg}}</h3>
    </div>

    <!-- Spinner do loader -->
    <div *ngIf="loaderSrv.getLoader() && repos.length < 1" style="display: flex;align-content: center;align-items: center;justify-content: center; width: 100%;">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div class="p-grid p-justify-start">

        <!-- Card do profile -->
        <div class="p-col-2" *ngIf="errorMsg == ''">
            <p-card header="{{email}}">
                <p-header>
                    <span style="display: flex; justify-items: center;justify-content: center;">
                        <a href="{{urlProfile}}"><img src="{{urlPic}}" alt="Imagem avatar"
                        style="width: 150px; height: 150px; cursor: pointer;"></a>
                    </span>
                </p-header>
            </p-card>
        </div>

        <!-- Cards dos repositorios -->
        <div class="p-col-10">
            <div class="p-grid p-justify-start"
                style="flex-wrap: nowrap; overflow-x: auto; height: 300px;">

                <!-- Visualização com tabs -->
                <!-- <p-tabView style="height: 270px; max-width: 200%;">
                    <p-tabPanel *ngFor="let repo of repos" header="{{repo.name}}">
                        <p style="text-align: justify; word-break: break-word;">{{repo.description}}</p>
                        <br>
                        <p><i class="pi pi-calendar"></i> {{repo.data}}</p>
                        <br>
                        <a href="{{repo.url}}"><button pButton type="button" label="Acessar"></button></a>
                    </p-tabPanel>
                </p-tabView> -->


                <!-- Visualização com cards -->
               <div class="p-col-4" *ngFor="let repo of repos" style="height: 270px;">
                    <p-card header="{{repo.name}}">
                        <p style="text-align: justify; word-break: break-word;">Descrição: {{repo.description}}</p>
                        <br>
                        <p>Data: {{repo.data}}</p>
                        <p-footer>
                            <a href="{{repo.url}}"><button pButton type="button" label="Acessar"></button></a>
                        </p-footer>
                    </p-card>
                </div> 

            </div>
        </div>
    </div>
</div>

<!-- Toaster para ser exibido caso algo ruim aconteça -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-sidebar [(visible)]="showConfigDialog" position="right" [baseZIndex]="10000">
    <div class="p-grid p-dir-col" style="justify-content: space-evenly;">
        <h3 style="margin: 20px; text-align: center; color:#555555; font-size: 1.3rem;">Cor de fundo do componente: {{title}}</h3>

        <div class="p-col-12" (click)="changeBgColor('purple')" class="color-selector"
            style="background-color: #b894f6 !important;">
            <p style="text-align: center;">Roxo</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('yellow')" class="color-selector"
            style="background-color: #fefb99 !important;">
            <p style="text-align: center;">Amarelo</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('blue')" class="color-selector"
            style="background-color: #94a1f6 !important;">
            <p style="text-align: center;">Azul</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('pink')" class="color-selector"
            style="background-color: #e994f6 !important;">
            <p style="text-align: center;">Rosa</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('red')" class="color-selector"
            style="background-color: #E57373 !important;">
            <p style="text-align: center;">Vermelho</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('green')" class="color-selector"
            style="background-color: #80CBC4 !important;">
            <p style="text-align: center;">Verde</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('brown')" class="color-selector"
            style="background-color: #BCAAA4 !important;">
            <p style="text-align: center;">Marrom</p>
        </div>

        <div class="p-col-12" (click)="changeBgColor('white')" class="color-selector"
            style="background-color: #fcfaf9 !important;">
            <p style="text-align: center;">Branco</p>
        </div>
    </div>
</p-sidebar>