<div class="input-container">
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                [removable]="removable" (removed)="remove(tag)">
        {{tag.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Adicione suas tags"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <button class="btn btn-primary tag-input-button" (click)="sendTags()">Salvar</button>
</div>
