<div class="edit-main-container">
  <div class="edit-control-container" #sidebar>
    <app-edit-control></app-edit-control>
  </div>
  <button class="btn btn-secondary edit-sidebar-btn" (click)="toggleClass()" #sidebarButton>
    <span class="material-icons" style="color: var(--color-light); position: relative; top: 3px">
      {{sidebarButtonIcon}}  
    </span>
  </button>
  <div class="edit-preview-container">
    <app-edit-preview></app-edit-preview>
  </div>
  <button 
    class="btn btn-primary edit-floating-fixed-button" 
    (click)="salvarComponentes()"
    [disabled]="botaoSalvarDisabled"
  >
    Salvar componentes
  </button>
</div>