<h1 mat-dialog-title>DESGRAÇA</h1>
<p>Arraste para <b>Escolhidos</b> os que deseja que apareça em seu portfólio</p>
<mat-dialog-content>
  <div>
    <h2>Escolhidos</h2>
    <div
      cdkDropList
      class="example-list2"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of chosen" cdkDrag>

        <div class="texto-card" *ngIf="lookAtThisPhotograph(item?.url); else elseBlock">
          {{item.name}}
          <div *ngIf="item?.description" style="margin-bottom: auto">
            <hr>
            {{item.description}}
          </div>
        </div>

        <ng-template #elseBlock>
          <img [src]="item.url" alt="Fotografia"
               style="height: 100px; width: auto">
        </ng-template>
        <hr>
        <button class="btn btn-danger" (click)="removeElement(item)">Remover</button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h2>Disponiveis</h2>
    <div class="example-list">
      <div class="example-box" *ngFor="let item of received">

        <div class="texto-card" *ngIf="lookAtThisPhotograph(item?.url); else elseBlock">
          {{item.name}}
          <div *ngIf="item?.description" style="margin-bottom: auto">
            <hr>
            {{item.description}}
          </div>
        </div>

        <ng-template #elseBlock>
          <img [src]="item.url" alt="Fotografia"
               style="height: 100px; width: auto">
        </ng-template>
        <hr>
        <div class="action-button">
          <button style="bottom:0px" class="btn btn-primary" (click)="addElement(item)">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<hr/>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="chosen" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
