@import '../../../assets/scss/_basics/colors.scss';

.github-basic-info {
  display: flex;
  flex-direction: row;
  width: 370px;
  min-width: 370px;
  height: 254px;
  min-height: 254px;
  margin: 5px;
  flex: 1;
  color: inherit;
}

.github-pic-name {
  width: 50%;
  min-width: 185px;
  max-width: 205px;
  height: 100%;
  min-height: 254px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
  color: inherit;
}

.github-avatar-pic {
  width: 100%;
  max-width: 205px;
  background-color: var(--color-light);
  box-shadow: 0px 1px 5px #888888;
  border-radius: 6px;
}

.github-pic {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.github-profile-name {
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  color: inherit;
}

.github-profile-name-text {
 margin: auto;
 font-weight: 400 !important;
 font-size: 1.2rem;
 color: inherit;
}

.github-description {
  width: 50%;
  min-width: 185px;
  height: 100%;
  min-height: 254px;
  cursor: pointer;  
  padding: 10px;
  text-align: justify;
  flex: 1;
  color: inherit;
}

.github-description-header {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  color: inherit;
  margin-bottom: 5px;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.github-repo-container {
  height:100%;
  width: 400px;
  min-height: 254px;
  max-height: 254px;
  min-width: 400px;
  flex: 1.5;
  margin: 5px;
}