<div class="aplicativo-main-container" [ngClass]="{'aplicativo-editing': dados.isEdit, 'aplicativo-error': errorState && dados.isEdit}" [ngStyle]="customStyle()" *ngIf="(!dados.isEditable && dados.username) || dados.isEditable">

  <!-- Header -->
  <div class="aplicativo-header-container" *ngIf="(dados.isEditable || dados.showAppTitle) && !loading">

    <!-- Container do título do componente -->
    <app-aplicativo-header style="transition: all 0.3s" [ngStyle]="{ 'width': dados.isEdit ? '92%' : '100%' } "
      [dados]="dados" (editar)="onClickEditar()" (cancelar)="onClickCancelEditar()" (salvar)="onClickConfirmarEdicao()">
    </app-aplicativo-header>

    <!-- Botão para abrir as configurações do componente -->
    <div *ngIf="dados.isEdit" class="material-icons aplicativo-config-button" (click)="toggleConfigMenu()">
      settings
    </div>

  </div>

  <!-- Menu de configuração do componente -->
  <div class="aplicativo-config-collapse-container" *ngIf="(dados.isEdit && isConfigMenuOpen) && !loading">
    <span class="aplicativo-config-label" style="color:inherit !important">Configurações do componente</span>
    <div class="aplicativo-config-container">
      <app-config-menu-comp [dados]="dados" [hasCheckedApi]="hasCheckedApi" [msgErroExtra]="errorState ? 'Usuário informado não encontrado' : null" 
        (colorChange)="onColorChange($event)" (apiSubmit)="onUsernameSubmit($event)" (modalOpen)="onOpenModal()">
      </app-config-menu-comp>
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="aplicativo-content-container" *ngIf="!loading">

      <!-- Container da descrição -->
      <div class="github-description" *ngIf="hasCheckedApi">
        <app-aplicativo-basic-info
        [username]="dados.username"
        [profile_url]="dados.profile_url"
        [description]="dados.description"
        [fgColor]="dados.fgColor"
        >
        </app-aplicativo-basic-info>
      </div>

    <!-- Container dos repositórios -->
    <div class="github-repo-container" *ngIf="hasCheckedApi">
      <app-repo-container [repoArray]="dados.repo_array" [fgColor]="dados.fgColor">
      </app-repo-container>
    </div>


    <!-- Mostrar o input para inserção do username -->
    <div class="aplicativo-input-username-container" *ngIf="!hasCheckedApi">
      <app-input-group [label]="'Username do GitHub'" [inputType]="'text'" [msgErroExtra]="errorState ? 'Usuário informado não encontrado' : null"
        [placeholder]="'Insira seu username do GitHub'" [class]="'primary'" [buttonLabel]="'Buscar dados'"
        [required]="true" [campoObrigatorioMsg]="'O username é obrigatório'" (submitInput)="onUsernameSubmit($event)">
      </app-input-group>
    </div>
  </div>

  <!-- Loading indicator -->
  <div style="display: flex; width: 100%; height: 250px; justify-content: center; align-items: center;" *ngIf="loading">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>