<div class="aplicativo-main-container" [ngClass]="{'aplicativo-editing': dados.isEdit}" [ngStyle]="customStyle()">

  <!-- Header -->
  <div class="aplicativo-header-container" *ngIf="dados.isEditable || dados.showAppTitle">

    <!-- Container do título do componente -->
    <app-aplicativo-header style="transition: all 0.3s" [ngStyle]="{ 'width': dados.isEdit ? '92%' : '100%' } "
      [dados]="dados" (editar)="onClickEditar()" (cancelar)="onClickCancelEditar()" (salvar)="onClickConfirmarEdicao()">
    </app-aplicativo-header>

    <!-- Botão para abrir as configurações do componente -->
    <div *ngIf="dados.isEdit" class="material-icons aplicativo-config-button" (click)="toggleConfigMenu()">
      settings
    </div>

  </div>

  <!-- Menu de configuração do componente -->
  <div class="aplicativo-config-collapse-container" id="githubConfig" *ngIf="dados.isEdit && isConfigMenuOpen">
    <span class="aplicativo-config-label" style="color:inherit !important">Configurações do componente</span>
    <div class="aplicativo-config-container">
      <app-config-menu-comp [dados]="dados" [hasCheckedApi]="hasCheckedApi" (colorChange)="onColorChange($event)"
        (apiSubmit)="onUsernameSubmit($event)">
      </app-config-menu-comp>
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="aplicativo-content-container">

    <div class="github-basic-info" *ngIf="hasCheckedApi">

      <!-- Container da imagem + user name -->
      <div class="github-pic-name">

        <!-- Container da imagem -->
        <div class="github-avatar-pic">
          <img src="{{dados.avatar_img}}" class="github-pic" />
        </div>

        <!-- Container do username -->
        <div class="github-profile-name">
          <span class="github-profile-name-text">{{dados.username}}</span>
        </div>
      </div>

      <!-- Container da descrição -->
      <div class="github-description">
        <div class="github-description-header">
          <span style="color: inherit; font-size: inherit;">Descrição</span>
        </div>
        {{dados.description}}
      </div>
    </div>

    <!-- Container dos repositórios -->
    <div class="github-repo-container" *ngIf="hasCheckedApi">
      <app-repo-container [repoArray]="dados.repo_array" [fgColor]="dados.fgColor">
      </app-repo-container>
    </div>


    <!-- Mostrar o input para inserção do username -->
    <div class="aplicativo-input-username-container" *ngIf="!hasCheckedApi">
      <app-input-group [label]="'Username do GitHub'" [inputType]="'text'"
        [placeholder]="'Insira seu username do GitHub'" [class]="'primary'" [buttonLabel]="'Buscar dados'"
        [required]="true" [campoObrigatorioMsg]="'O username é obrigatório'" (submit)="onUsernameSubmit($event)">
      </app-input-group>
    </div>
  </div>
</div>