@import "assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin : 0;
    padding : 0;
    color: var(--color-fg-0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 16px;
    text-decoration: none;
    --cor-padrao: #504688;

}

body {
    overflow-x: hidden;
    background-color: var(--color-white);
}

// Classe para transição de temas
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 450ms !important;
    transition-delay: 0 !important;
}

// tratamento de login e pagina de registro

  .register-page {
    padding: 6rem 2rem;
  }
  
  .login-page {
    padding: 10rem 2rem;
  }
  
  // BOTÕES ============================

  // ==== Override bootstrap ===========

  .btn-primary {
    background-color: var(--color-main);
    color: var(--color-light);
    border-color: var(--color-main);
  }
  
  .btn-primary:hover {
    background-color: var(--color-main-dark);
    border-color: var(--color-main-darker);
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: var(--color-main-darker);
    border-color: var(--color-main-darkest);
  }

  .btn-link {
    background-color: transparent;
    color: var(--color-main);
  }

  .btn-link:hover {
    color: var(--color-main-dark);
  }

  // ==== Próprios ======================
  
  .btn-padrao{
    background-color: #504688 ;
    color: white;
  }


  // ANCHORS ============================

  // ==== Próprios ======================
  .anchor-padrao {
    color: #504688 !important;
  }


  // INPUTS =============================

  // ==== Override bootstrap ============

  .form-control:focus {
    border-color: var(--color-main-ligth);
    box-shadow: 0 0 0 .2rem rgba(109, 97, 173, 0.5)
  }
