@import "assets/scss/main.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  // margin : 0;
  // padding : 0;
  color: var(--color-fg-0);
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
  text-decoration: none;
  --cor-padrao: #504688;
}

body {
  margin: auto 0;
  overflow-x: hidden;
  background-color: var(--color-bg-0);
}

// Classe para transição de temas
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 450ms !important;
  transition-delay: 0 !important;
}

// tratamento de login e pagina de registro

.register-page {
  padding: 6rem 2rem;
}

.login-page {
  padding: 10rem 2rem;
}

// Classe para adicionar fade-in nos componentes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-geral {
  animation: fadein 0.5s;
}

// Joga um item para para o máximo à direita dentro de um componente
.item-push-right {
  margin-left: auto;
}

// Joga um item para para o máximo à esquerda dentro de um componente
.item-push-left {
  margin-right: auto;
}

// Quando textos são maiores que o container, substitui parte dotexto por reticências
.text-limiter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aplicativo-editing {
  // border: 2px solid var(--color-warning);
  box-shadow: 0px 0px 10px var(--color-warning) !important;
}

// APLICATIVOS GERAL =================================================================

// Container principal dos aplicativos
.aplicativo-main-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color-bg-1);
  box-shadow: 0px 1px 2px #888888;
  padding: 5px;
  border-radius: 6px;
}

@keyframes showConfigButton {
  from {
    font-size: 0rem;
    margin: auto;
  }
  to {
    font-size: 1.5rem;
    // margin: 0;
    margin-top: 1rem;
  }
}

// Botão de engrenagem para mostrar configurações do componente
.aplicativo-config-button {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--color-fg-1);
  cursor: pointer;
  transition: all 0.5s;
  animation-name: showConfigButton;
  animation-duration: 0.5s;
  margin-top: 1rem;
}

.aplicativo-config-button:hover {
  transform: rotate(180deg) scale(1.2);
}

// Container com o input group e um botão para alguma ação dentro do menu de configurações
.aplicativo-input-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

// Input group genérico usado para inserir dados de um username, por exemplo
.aplicativo-input-username-container {
  width: 50%;
  min-width: 300px;
  margin: auto;
  margin-top: 0;
}

// Input group genérico dentro do menu de configurações do componente
.aplicativo-input-config-container {
  width: 55%;
  margin: 0;
  padding-right: 20px;
}

// Container com os color pickers do menu de configurações
.color-picker-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

// Container do color picker + label
.color-picker-label-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Color picker genérico
.color-picker {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.color-picker:hover {
  transform: scale(1.2);
}

// Color picker a esquerda
#picker1 {
  box-shadow: -2px 2px 3px #888888;
  transition: all 0.5s;
}

#picker1:hover {
  box-shadow: -3px 3px 12px #888888;
}

// Color picker a direita
#picker2 {
  box-shadow: 2px 2px 3px #888888;
  transition: all 0.5s;
}

#picker2:hover {
  box-shadow: 3px 3px 12px #888888;
}

// BOTÕES ============================

// ==== Override bootstrap ===========

.btn-primary {
  background-color: var(--color-main);
  color: var(--color-light);
  border-color: var(--color-main);
}

.btn-primary:hover {
  background-color: var(--color-main-dark);
  border-color: var(--color-main-darker);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--color-main-darker);
  border-color: var(--color-main-darkest);
}

.btn-link {
  background-color: transparent;
  color: var(--color-main);
}

.btn-link:hover {
  color: var(--color-main-dark);
}

.btn-outline-primary {
  color: var(--color-main);
  border-color: var(--color-main);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--color-main);
}

.btn-outline-primary:hover {
  border-color: var(--color-main);
  background-color: var(--color-main);
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: var(--color-main);
  background-color: var(--color-main);
  color: #fff;
}

// ==== Próprios ======================

.btn-padrao {
  background-color: #504688;
  color: white;
}

// ANCHORS ============================

// ==== Próprios ======================
.anchor-padrao {
  color: #504688 !important;
}

// INPUTS =============================

// ==== Override bootstrap ============

.form-control:focus {
  border-color: var(--color-main-ligth);
  box-shadow: 0 0 0 0.2rem rgba(109, 97, 173, 0.5);
}

// BOTÃO DROPDOWN =====================

// ==== Override bootstrap ============
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: var(--color-main);
  background-color: var(--color-main);
  color: #fff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}
