<div class="container-fluid principal">
    <div class="row">
        <div class="col-md-8 esquerda">
            <br>
            <div class="d-flex justify-content-center slogan">
                <h1>{{ titulo }} |</h1> {{slogan}}
            </div>
            <img src="../../assets/imgs/login-img.png" alt="background">
        </div>
        <div class="col-md-4 direita">
            <div class="fixed-top">
                <app-alert class="alerta"></app-alert>
            </div>
            <app-login (onRegister)="mudaAbaDireita($event)" #login *ngIf="isLogin"></app-login>
            <app-register (onCancel)="mudaAbaDireita($event)" #register *ngIf="!isLogin"></app-register>
        </div>
      </div>
  </div>