<div class="control-main-container">

  <!-- Título -->
  <div class="edit-control-title-container">
    <h2 class="edit-control-title">Componentes</h2>
    <i class="material-icons title-icon">view_day</i>
  </div>

  <div cdkDropList (cdkDropListDropped)="drop($event)" class="control-drag-drop-container">
    <!-- Lista de aplicativos já adicionados -->
    <div class="djanho" cdkDrag cdkDragHandle *ngFor=" let app of aplicativos" >
      <app-aplicativo-control
        [type]="app.type" 
        [component_name]="app.component_name" 
        [order]="app.order"
      >
      </app-aplicativo-control>
    </div>
  </div>


  <!-- Novo aplicativo -->
  <app-aplicativo-control [type]="" [component_name]="" [order]="">
  </app-aplicativo-control>
</div>