.box-preview-component {
    width: 100%;
    margin-right: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 0 2px 3px #555588;
    transition: all 100ms;
}

.box-preview-component :hover {
    box-shadow: 0 5px 5px #555588;
}