<div class="register-page">
  <h2>Registre-se</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        formControlName="nome"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"
      />
      <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
        <div *ngIf="f.nome.errors.required">Digite o nome</div>
      </div>
    </div>
    <div class="form-group">
      <label for="sobrenome">Sobrenome</label>
      <input
        type="text"
        formControlName="sobrenome"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.sobrenome.errors }"
      />
      <div *ngIf="submitted && f.sobrenome.errors" class="invalid-feedback">
        <div *ngIf="f.sobrenome.errors.required">Digite o sobrenome</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        email
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Digite o email</div>
      </div>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.email">Endereço de email inválido</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Digite a senha</div>
        <div *ngIf="f.password.errors.minlength">
          Senha precisa de no mínimo 6 caracteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input
        type="text"
        formControlName="url"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.url.errors }"
      />
      <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
        <div *ngIf="f.url.errors.required">Digite a url de sua pagina</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-padrao">Registrar</button>
      <img
        *ngIf="loading"
        class="pl-3"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <span style="font-weight: bold !important; margin-left: 1em;">Ja tem conta?</span>
      <a (click)="changeValor()" class="btn anchor-padrao">Entrar</a>
    </div>
  </form>
</div>
